@model WebUI.Models.ContatoViewModel

<form asp-action="Create">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">

        <div class="col">
            <label asp-for="Nome">@Html.DisplayNameFor(model => model.Nome):</label>
            <input asp-for="Nome" class="form-control" placeholder="Informe o seu primeiro nome" />
            <div asp-validation-for="Nome" class="text-danger"></div>
        </div>

        <div class="col">
            <label asp-for="SobreNome">@Html.DisplayNameFor(model => model.SobreNome):</label>
            <input asp-for="SobreNome" class="form-control" placeholder=" Informe o seu segundo nome" />
            <div asp-validation-for="SobreNome" class="text-danger"></div>

        </div>
    </div>


    <div class="row">
        <div class="col">
            <label asp-for="Celular">@Html.DisplayNameFor(model => model.Celular):</label>
            <input asp-for="Celular" class="form-control" placeholder="(00)00000-0000" />
            <div asp-validation-for="Celular" class="text-danger"></div>
        </div>
        <div class="col">
            <label asp-for="Email">@Html.DisplayNameFor(model => model.Email):</label>
            <input asp-for="Email" class="form-control" placeholder="email@email.com" />
            <div asp-validation-for="Email" class="text-danger"></div>
            <label></label>
        </div>
        <div class="row">
            <div>
                <div class="btn-espaco">

                    <input type="submit" class="btn btn-outline-info" value="Registrar" />
                    <label></label>
                    <a class="btn btn-outline-warning " asp-action="Index">Voltar</a>
                    <label></label>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
}